* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
  background-color: #000;
  padding: 10px 10px 10px 10px;
}

section {
  max-width: 940px;
  margin: 0 auto;
}

h3 {
  font-size: 23px;
  text-transform: uppercase;
}

.buttons {
  text-transform: uppercase;
  color: #fff;
  background: #000;
  width: 192px;
  height: 44px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.nav-links a:nth-child(n+2) {
  margin-left: 50px;
}

.nav-buttons img:nth-child(n-2) {
  margin-right: 50px;
}

.logo {
  text-align: center;
  margin: 50px 0;
}

.benefits {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 50px;
}

.benefits img {
  width: 20px;
  margin-bottom: 20px;
}

.benefits h3 {
  margin-bottom: 20px;
}

.fast, .cool, .expensive {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.prices_and_gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: #FBF7F4;
  padding: 40px;
  max-width: 940px;
  width: 100%;
}

.prices {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gallery img {
  margin-top: 20px;
}

.dots {
  width: 100%;
  border-bottom: 1px dotted;
}

.prices span, .prices h3 {
  white-space: nowrap;
}

.prices .line:nth-child(n + 1) {
  margin-top: 40px;
}

.line {
  display: flex;
}

.prices_button {
  margin-top: 20px;
}

.prices span:nth-child(n+2) {
  color: #AF7842;
}

.gallery_button {
  position: absolute;
  color: #fff;
  background: #000;
  width: 48px;
  height: 60px;
  right: 0px;
  top: 50%;
}

.dots_under_img {
  padding-left: 50%;
}

.dots_separator {
  width: 100px;
  border-bottom: 3px dotted;
  transform: rotate(90deg);
}

.contacts_and_registration {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 40px;
  background-color: #fff;
  line-height: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  width: 50%;
}

.registration {
  width: 50%
}

.contacts_header_span {
  text-transform: uppercase; 
  color: #AF7842
}

.info {
  display: flex;
  flex-direction: column;
}

.contacts_buttons {
  display: flex;
  flex-direction: row;
}

.registration_input {
  border: 3px solid #000;
  height: 44px;
  text-align: center;
}

.date_input {
  display: flex;
  width: 100px;
}

.time_input {
  display: flex;
  width: 80px;
}

.phone_input {
  display: flex;
  width: 150px;
}

.order_info {
  display: flex;
  justify-content: space-between;
}

.customer_name {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer {
  background-color: #242424;
  display: flex;
  justify-content: center;
}

.footer_container {
  max-width: 1020px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}


.footer_info {
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}

.suggestions_and_questions {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.footer_button img {
  height: 48px;
}

.footer_input {
  width: 263px;
  height: 44px;
}

.footer_input_container {
  display: flex;
  margin-top: 14px;
}

.socials{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socials_buttons {
  margin-top: 14px;
  margin-right: 8px;
}
.socials_buttons:last-child {
  margin-right: 0;
}